.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.nav-item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #1f1534;
  cursor: pointer;
  opacity: 0.5;
}

.nav-item:active {
  color: red;
}

.active {
  color: #000 !important;
  opacity: 1;
  font-weight: 500;
}
